apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.nextjs.podlabel }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.nextjs.podlabel }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.nextjs.podlabel }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
  template:
    metadata:
      labels:
        app: {{ .Values.nextjs.podlabel }}
    spec:
      containers:
        - name: nextjs
          image: {{ .Values.nextjs.image }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.nextjs.port }}
              protocol: TCP
          env:
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: database-user
            - name: MONGO_PASS
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: database-password
            - name: MONGO_DB
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: database-name
            - name: MONGO_HOST
              value: "{{ .Values.mongodb.podlabel }}.{{ .Release.Namespace }}.svc"
            - name: MONGO_PORT
              value: "{{ .Values.mongodb.port }}"
            - name: MONGO_USE_TLS
              value: "true"
            - name: MONGO_TLS_CA_FILE
              value: "/etc/mongodb-ca/service-ca.crt"
          envFrom:
            - secretRef:
                name: frontend
            - secretRef:
                name: bcsc
            - secretRef:
                name: siebel
          volumeMounts:
            - name: mongodb-ca
              mountPath: /etc/mongodb-ca
              readOnly: true
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      volumes:
        - name: mongodb-ca
          configMap:
            name: mongodb-ca-bundle
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
